.news_item{
    max-width: 375px;
    display: inline-block;
}
h1{
    text-align: center;
}
.news-list{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}
.news_item{
    text-align: left;
}
.news-list div:nth-child(1),
.news-list div:nth-child(2)
{
   margin-right: 15px;
}