
/* Start:/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/style.css?14528137587261*/
div.photo-page-gallery, div.photo-header-big, div.photo-filter{ border-color: #ECECEC; }
div.photo-photo-date, div.photo-photo-tags, div.photo-photo-tags a, div.photo-album-date { color: #7E7E7E;}
li.photo-album-item div.photo-album-photos {color: #000000;}

/************** Menu Controls **************************************/
/*
div.photo-controls-buttons ul.photo-controls li a, 
div.photo-controls-buttons ul.photo-controls li a span { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/button.gif');}
div.photo-controls-buttons ul.photo-controls li a { color: #616161;}
div.photo-controls-moderate ul.photo-controls li a{ color: #BC262C; }
div.photo-controls-gallery ul.photo-controls li a,
div.photo-controls-gallery ul.photo-controls li a span,
div.photo-controls-album ul.photo-controls li a, 
div.photo-controls-album ul.photo-controls li a span { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/button_slim.gif');}
div.photo-controls-album ul.photo-controls li.photo-control-album-edit a span { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/button_slim_arrow.gif')!important;}

td.gutter div.photo-control-album-edit{background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit.png');}
td.gutter div.photo-control-album-edit-icon{background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit_icon.png')!important;}
td.gutter div.photo-control-album-edit-sort{background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit.png');}
td.gutter div.photo-control-album-drop{background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_drop.png');}
*/
/************** Menu Controls/**************************************/

li.photo-control-photo-selectall span, li.photo-control-photo-drop span, 
li.photo-control-photo-moderate span, 
div.photo-album-menu-controls a:hover, 
div.photo-album-menu-controls a:active, 
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #CDCDCD; }


/************** Standart *******************************************/
div.photo-note-box {
	background: #fffdc3; 
	border-color: #ffca63;}
font.starrequired{
	color:red;}
 /************** Standart/*******************************************/
/******************************************************************** 
				Album
********************************************************************/
/*div.photo-album-avatar, div.photo-album-thumbs-avatar, */div.photo-album-avatar-empty{background-color: #E2E2E2;}
div.photo-album-avatar-empty { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/album/cover_empty.gif');}
div.photo-item-cover-block-container, 
div.photo-item-cover-block-outer, 
div.photo-item-cover-block-inner { border-color: #B0B0B0; }
/************** Album controls on cover ****************************/
div.photo-album-menu-substrate {
	background-position: -20px top;
	background-repeat: no-repeat; 
	background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/album/cover_white_mat.png');}
div.photo-album-menu-controls span {
	display: none; }
div.photo-album-menu-controls a:link, 
div.photo-album-menu-controls a:visited, 
div.photo-album-menu-controls a:active, 
div.photo-album-menu-controls a:hover {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 1em;
	float: left;
	display: block;
	border: 1px solid #FFFFFF;}
div.photo-album-menu-controls a:hover, div.photo-album-menu-controls a:active { 
	border: 1px solid #B0B0B0;}
div.photo-album-menu-controls a.photo-control-album-edit {background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit.png');}
div.photo-album-menu-controls a.photo-control-album-edit-icon {background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit_icon.png');}
div.photo-album-menu-controls a.photo-control-album-drop {background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_drop.png');}

/************** Album Single ***************************************/
div.photo-album-password div.photo-album-name, li.photo-album-password div.photo-album-name {
	padding-left:15px;
	background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/album/lock.gif');
	background-repeat:no-repeat;
	background-position:left center;}
li.photo-album-password div.photo-album-name{
	background-position:left 15%; }
/******************************************************************** 
				/ Album
********************************************************************/

/******************************************************************** 
				Photo 
********************************************************************/
table.photo-photo-item-notapproved div.photo-photo-item-inner, 
table.photo-photo-item-notapproved div.photo-photo-item-outline, 
div.photo-photo-item-notapproved { background-color:#FED2D2!important;}
table.photo-photo-item-checked div.photo-photo-item-inner, 
div.photo-photo-item-checked{ background-color:#E0DFE3!important;}
/************** Photo Table Shadow *********************************/
table.photo-photo-item-table, table.photo-photo-item-table div.photo-photo-item-block-inner{
	border-color: #BBBBBB;}
table.photo-photo-item-table th, table.photo-photo-item-table td{
	background-color: #F6F6F6;}
table.photo-photo-item-table table.photo-photo-image td {
	background-color: #FFFFFF!important;}
table.photo-photo-item-table div.photo-photo-item-block-outer{
	padding-bottom: 6px;
	background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/photo/shadow.gif');
	background-repeat: no-repeat;
	background-position: right bottom;}
table.photo-photo-item-table div.photo-photo-item-block-container{
	background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/photo/shadow.gif');
	background-repeat: no-repeat;
	background-position: left bottom;}
/************** Popup div To Detail to around Slider ***************/
div.photo-photo-item-popup {background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/photo/arrow.gif');}
/************** Photo navigation on detail page ********************/
#photo_go_to_prev span, #photo_go_to_next span {display:none;}
#photo_go_to_prev, #photo_go_to_next {
	display: block;
	width: 23px;
	height: 23px;
	background-position: left center;
	background-repeat: no-repeat;}
a#photo_go_to_prev, a#photo_go_to_next { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/arrow.gif'); }
div#photo_go_to_prev, div#photo_go_to_next { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/arrow_disabled.gif'); }
a#photo_go_to_next, div#photo_go_to_next { background-position: right center; }
/************** Photo Voting ***************************************/
div.iblock-vote {
	line-height: 13px;}
div.star-active {
	cursor: pointer; }
div.star-empty, div.star-voted, div.star-over {
	background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/vote.gif');
	background-repeat: no-repeat;
	background-position: right center;
	width: 13px;
	height: 13px;
	overflow: hidden;
	float: left;
	margin-right: 1px; }
div.star-voted {
	background-position: center center; }
div.star-over {
	background-position: left center; }
td.vote-result { 
	padding-left: 5px; } 
div.vote-no-results {
	display: none; }
/******************************************************************** 
				Photo 
********************************************************************/
/******************************************************************** 
				Gallery 
********************************************************************/
div.photo-gallery-description {color: #7E7E7E; }
/******************************************************************** 
				/ Gallery 
********************************************************************/

/* End */

/* Start:/bitrix/components/bitrix/photogallery/templates/.default/style.css?145281375831650*/
/********************************************************************
				Menu Controls
********************************************************************/
.photo-top-controls {margin: 0 0 1em 1px;}
.photo-top-controls a {margin: 0 6px 0 0;}

ul.photo-controls, ul.photo-controls li{margin:0; padding:0; border:none; list-style-type:none; overflow:hidden;}
ul.photo-controls li{height:2em; float:left;	padding-right:1em;}

li.photo-control label,
li.photo-control a:link,
li.photo-control a:visited,
li.photo-control a:active,
li.photo-control a:hover{line-height:1.7em;height:1.7em;}
li.photo-control a:hover, li.photo-control a:active, li.photo-control a.pressed{text-decoration: none;}
/************** Controls Buttons ***********************************/
div.photo-controls-buttons ul.photo-controls {height: auto;}
div.photo-controls-buttons ul.photo-controls li{clear: both;float: none; padding-right: 0.45em; height: 20px!important;}
	div.photo-controls-buttons ul.photo-controls li a {display: block; background-repeat: no-repeat; white-space: nowrap; cursor: pointer; cursor: hand; text-decoration: none;}
div.photo-controls-buttons ul.photo-controls li a {width: 11.61em;}

div.photo-controls-buttons ul.photo-controls li a span {padding-right: 10px;background-position: right bottom;}
div.photo-controls-buttons ul.photo-controls li a:hover {background-position: left top;}
div.photo-controls-buttons ul.photo-controls li a:hover span {background-position: right top;}
/************** Menu Controls Album & Gallery Dropdown *************/
li.photo-control-album-edit a {float: left;}
div.photo-controls-gallery ul.photo-controls li,
div.photo-controls-album ul.photo-controls li{float: left;margin-bottom: 2px;}
div.photo-controls-gallery ul.photo-controls li a, div.photo-controls-album ul.photo-controls li a {}
div.photo-controls-gallery ul.photo-controls li a,
div.photo-controls-gallery ul.photo-controls li a span,
div.photo-controls-album ul.photo-controls li a,
div.photo-controls-album ul.photo-controls li.photo-control-album-edit a span {padding-right: 1.2em;}
div.photo-controls-album,div.photo-controls-gallery {float: right;}

/********************************************************************
				Menu Controls /
********************************************************************/

/********************************************************************
				Popups
********************************************************************/
table.photo-dialog-table, table.photo-popup{border: 0; border-collapse: collapse; width: 100%;}
table.photo-dialog-table td, table.photo-popup td{padding: 5px!important; background: transparent!important; vertical-align: top!important;}
table.photo-dialog-table td.photo-dialog-prop-title{text-align: right;}
table.photo-dialog-table td.photo-dialog-prop-param{text-align: left;}
table.photo-dialog-table td.photo-dialog-req label{font-weight: bold!important;}
table.photo-dialog-table textarea{width: 400px; height: 10em;}
table.photo-dialog-table td.photo-inp-width input{width: 400px;}
table.photo-dialog-table td.photo-dialog-warning{color: red!important;}

table.photo-dialog-table td.photo-dialog-prop-param-date{text-align: left;}
table.photo-dialog-table td.photo-dialog-prop-param-date input{display: block; float: left;}
table.photo-dialog-table td.photo-dialog-prop-param-date a{display: inline-block!important;}

div.photo-popup, div.photo-popup div, div.photo-popup form {background-color: white;padding: 0;margin: 0;font-size: 12px;}
div.photo-popup{background-color: gray;overflow: hidden;width: 600px;height: 400px;}

div.photo-popup div.photo-popup-container{
	border: 1px solid black;}
div.photo-popup div.photo-popup-inner{
	padding: 9px;}
div.photo-popup div.photo-popup-data{
	overflow: hidden;
	width: 580px;
	height: 380px;}
div.photo-popup table{
	width: 100%;
	border: none;}
table.photo-popup thead{
	display: none;}
div.photo-popup tbody {
	height: 330px;}
div.photo-popup tbody td {
	border: none;
	text-align: left;
	vertical-align: top;}
div.photo-popup tbody div.photo-info-box-section-edit-icon,
div.photo-popup tbody div.photo-info-box-section-edit,
div.photo-popup tbody div.photo-info-box-element-edit  {
	height: 335px;
	overflow: auto;
	zoom: 1;}
div.photo-popup tfoot td {
	text-align: center;
	vertical-align: middle;
	height: 50px;
	overflow: hidden;}
div.photo-popup tfoot td input {
	margin: 2px;}
div.photo-popup div.photo-edit-field {
	padding: 0.3em 0 0.2em 0.3em;}
div.photo-popup div.photo-edit-field-title input,
div.photo-popup div.photo-edit-field-tags input,
div.photo-popup div.photo-edit-field textarea {
	width: 99%;}
div.photo-popup div.photo-edit-field select {
	width: 50%;}
/********************************************************************
				Popups /
********************************************************************/
/********************************************************************
				Filter
********************************************************************/
/* Used on detail list page with new photo, photo with comments and other */
div.photo-filter{
	margin: 1.5em 0 2.5em 0;
	border: 1px solid;
	padding: 1em;
	width: 70%;}
div.photo-filter-field {
	margin-bottom: 0.7em;}
div.photo-filter-field-inner {
	margin-bottom: 0.4em;}
div.photo-calendar-field label {
	display: block;
	margin-bottom: 0.5em;}
div.photo-filter-buttons {
	margin-right: 0.5em;}
div.photo-filter-field legend {
	padding: 0.5em 1em;}
/********************************************************************
				Filter /
********************************************************************/
/********************************************************************
				Page Navigation
********************************************************************/
div.modern-page-navigation {
	padding: 0.5em 0;}
div.modern-page-navigation a,
span.modern-page-current,
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous {
	border-right-width: 1px;
	border-right-style: solid;
	border-left: none; }
div.modern-page-navigation a.modern-page-first,
div.modern-page-navigation span.modern-page-first {
	border-left: none;
	padding-left: 0.5em; }
span.modern-page-current {
	font-weight: bold; }
/********************************************************************
				Page Navigation /
********************************************************************/

/********************************************************************
				Standart styles
********************************************************************/
ul.photo-items-list, ul.photo-items-list, li.photo-item {
	padding: 0;
	margin: 0;
	list-style-type: none;}
div.photo-info-box {}
div.photo-note-box {
	width: 70%;
	border-width: 1px;
	border-style: solid;
	margin: 1.117em 0;
	padding: 0.4em 1.117em;}
div.photo-note-box ul {
	padding: 0.3em 0.6em;
	list-style-type: none;
	margin: 0;}
div.photo-note-box ul li {
	margin: 0.3em 0;
	padding: 0;}
div.photo-breadcrumb-top{
	margin-bottom: 1.27em;}
div.empty-clear{
	clear: both;
	overflow: hidden;
	height: 0.1em;}
div.photo-popup-inner form, form.photo-form{
	padding: 0;
	margin: 0;}
table.photo-table, table.photo-table td{
	font-size: 100%;}
div#photo_waitwindow{
	width: 170px!important;
	padding: 10px!important;
	display: block!important;
	border: 1px solid #EACB6B!important;
	text-align: center!important;
	font-size: 13px!important;
	background-color: #FCF7D1!important;
	background-image: url("/bitrix/themes/.default/images/wait.gif")!important;
	background-position: 10px center!important;
	background-repeat: no-repeat!important;
	position: relative!important;
	z-index: 10000;
	text-align: center;
	position: static!important;
	width: 100%;}
div.photo-header-big div.photo-header-inner,
div.photo-header-middle div.photo-header-inner{
	margin-bottom: 0.78em; }
div.photo-header-big {
	border-bottom: 1px solid;
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 0.78em; }
div.photo-header-component {
	font-weight: bold;
	font-size: 110%;
	margin-right: 1em;
	margin-bottom: 0.78em;}
span.photo-header-link {
	font-weight: normal;
	font-size: 100%;}
div.reviews-navigation-top {
	display: none;}
div.tags-cloud a {
	text-decoration: none;}
div.tags-cloud a:hover{
	text-decoration: underline;}
/********************************************************************
				Standart styles
********************************************************************/


/********************************************************************
				Album  styles
********************************************************************/
div.photo-album-avatar, div.photo-album-thumbs-avatar, div.photo-album-avatar-empty{
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
	overflow: hidden;}

div.photo-album-avatar-edit div.photo-album-menu{display: block!important;}

div.photo-item-cover-block-outside{
	padding: 0 8px 8px 0; }
div.photo-item-cover-block-inside{
	padding: 8px 20px;
	border: none;}
div.photo-item-cover-block-container,
div.photo-item-cover-block-outer,
div.photo-item-cover-block-inner {
	border: 1px solid; }
div.photo-item-cover-block-container{
	position: relative!important; }
div.photo-item-cover-block-outer,
div.photo-item-cover-block-inner {
	position:absolute!important; }
div.photo-item-cover-block-container{
	left: 6px;
	top: 8px;}
div.photo-item-cover-block-outer {
	left: -4px;
	top: -4px;}
div.photo-item-cover-block-inner {
	left: -4px;
	top: -4px;}
div.photo-item-info-block-outer{
	padding: 4px 2px 2px 2px;}
div.photo-item-cover {
	cursor: pointer;
	cursor: hand;}
div.photo-album-name a {
	line-height: 1.2em; }
div.photo-album-date, div.photo-album-photos {
	font-size: 11px;}
/************** Album controls on cover ****************************/
div.photo-album-menu-controls {z-index: 100;text-align: center;}
div.photo-album-menu{display:none; width: 100%;height: 100%;position: relative;}
div.photo-item-over div.photo-album-menu{display: block!important;}

div.photo-album-menu div {position: absolute;	width:100%;	height:100%;}
div.photo-album-menu-controls a {line-height: 1em;display: block;}
/************** Albums List ****************************************/
ul.photo-album-list, ul.photo-album-thumbs-list, li.photo-album-item {padding: 0;margin: 0;list-style-type: none;}
ul.photo-album-list div.photo-item-info-block-outside {margin-left: 0!important;}
li.photo-album-item{margin: 0;float: left;padding: 0 30px 30px 0;display: inline;}
ul.photo-album-thumbs-list li, ul.photo-album-thumbs-list div,
ul.photo-album-list li, ul.photo-album-list div{zoom: 1;}
ul.photo-album-list li,ul.photo-album-list div.photo-item-cover-block-outside,ul.photo-album-thumbs-list li,ul.photo-album-thumbs-list div.photo-item-cover-block-outside {float: left;}
ul.photo-album-list div.photo-item-info-block-outside,ul.photo-album-thumbs-list div.photo-item-info-block-outside {clear: both;}
li.photo-album-item div.photo-album-name {	position: relative;height: 1.4em;font-weight: bold;overflow: hidden;}
li.photo-album-item div.photo-album-name a {line-height: 1.4em;text-decoration: none;}
li.photo-album-item div.photo-album-date{padding-top: 1px;float: right;}
li.photo-album-item div.photo-album-photos {padding-top: 1px;}
li.photo-album-item div.photo-album-photos-top, li.photo-album-item div.photo-album-description{display: none;}

ul.photo-album-list-first-photos {display: inline-block!important; padding-right: 20em;}
ul.photo-album-list-first-photos  li.photo-album-item{float: none!important;display: block;}
ul.photo-album-list-first-photos  .album-name{text-decoration: none;font-size: 1.2em;font-weight: bold;color: #373737; font-family: Verdana;}
ul.photo-album-list-first-photos  .album-date, ul.photo-album-list-first-photos  .album-photos{text-decoration: none;font-size: 1.1em;color: #7F7F7F; margin: 0 0 0 7px;}
ul.photo-album-list-first-photos  .album-passworded{text-decoration: none;font-size: 1.1em;color: #7F7F7F;}
ul.photo-album-list-first-photos  .more-photos{margin: 0 1px;}
ul.photo-album-list-first-photos .photo-item-cont {padding: 6px; border: 1px solid #DBDBDB; margin: 0 8px 8px 0;}
ul.photo-album-list-first-photos .album-photos-section{margin: 12px 0 10px 0;}
ul.photo-album-list-first-photos .album-separator-line{height: 1px; background-color: #DBDBDB; width: 100%; line-height: 1px !important; font-size: 1px !important;}
ul.photo-album-list-first-photos .album-list-action-cont {margin: 10px 0 0 0!important;}
ul.photo-album-list-first-photos .album-list-action-cont a{font-size: 90%; display: inline-block; margin: 0 5px 0 0;}
ul.photo-album-list-first-photos .album-no-photos{color: #808080;}

/************** Album Single ***************************************/
div.photo-album-header div {
	float: left;}
div.photo-album-item div.photo-album-name,
div.photo-album-item div.photo-album-date {
	line-height:1.5em;}
div.photo-album-item div.photo-album-name {
	font-weight: bold;}
div.photo-album-item div.photo-album-date, div.photo-album-item div.photo-album-description {margin-top:0.3em;}
div.photo-album-item div.photo-album-info{margin-bottom:1em;}
/************** Album Edit *****************************************/
.photo-album-edit-cont{}
.photo-album-edit-cont label{color: #666666!important; font-size: 11px!important; font-weight: normal!important; font-family: Verdana;  margin: 8px 4px 0 5px!important; float: left;}
.photo-album-edit-cont label.photo-al-ed-label-top{display: block!important; margin: 3px 0 3px 0!important; float: none!important;}
.photo-album-edit-cont .photo-al-ed-width{width: 400px!important;}
.photo-album-edit-cont textarea{width: 400px!important; height: 5em!important; resize:none!important;}
.photo-album-edit-cont div.integer{display: block!important; float: left; margin-top: 4px !important;}
tr.photo-album-edit-heading td{color: #000000!important; font-size: 14px!important; font-family: Verdana!important; font-weight: bold!important; padding: 10px 5px 5px 10px!important;}
tr.photo-album-edit-buttons td{padding: 10px 5px 5px 140px!important; text-align: left!important;}

td.photo-al-edit-icon-sect {}
div.photo-ed-al-contols {}
div.photo-ed-al-contols a{border-width: 0 0 1px 0!important; border-style: dashed!important; border-color: #567FDD; text-decoration: none; display: inline-block; margin: 2px; white-space: nowrap!important;}

div.photo-ed-al-items-list{overflow: hidden;}
div.photo-ed-al-items-list div.photo-ed-al-item{border-width: 0 0 1px 0; border-style: solid; border-color:#EBEBEB; margin: 0; padding: 10px 0 10px 10px; float: left;}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb{background-color: #000000; float: left; margin: 5px 10px 10px 10px; cursor: pointer!important; display: block;}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb div.photo-ed-al-item-thumb-inner{overflow: hidden; position: relative;}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb div.photo-ed-al-item-thumb-inner img{position: absolute; border-width: 0!important; border-width: 0!important;}
div.photo-ed-al-items-list div.photo-ed-al-item div.photo-ed-al-item-thumb div{background-position: center center; background-repeat: no-repeat;}
.photo-album-edit-cont div.photo-ed-al-items-list textarea{height: 4em!important; display: block;}
div.photo-ed-al-item-params {float: left; position: relative; width: 400px;}
div.photo-ed-al-item-params a.photo-al-ed-tags-link{color: #666666; text-decoration: none; border-bottom: 1px dotted #666666; cursor: pointer;  font-family: Verdana; font-size: 11px !important; font-weight: normal !important; margin: 5px 0 4px; display: block; float: left;}
div.photo-ed-al-item-params a.photo-tags{border-width: 0!important;}
div.photo-ed-al-item-params a.photo-al-ed-action, a.photo-al-ed-action{text-decoration: none; border-bottom: 1px dashed #567FDD; cursor: pointer; font-family: Verdana; font-size: 11px !important; font-weight: normal !important; margin: 2px; white-space: nowrap!important; float: right;}
div.photo-ed-al-item-params input.search-tags {width: 300px;}
div.photo-ed-al-item-params  input.photo-al-ed-item-check{position: absolute; right: -25px; top: 16px;}
div.photo-ed-al-show-more {text-align: center; background-color: #EBEBEB; padding: 6px;}
div.photo-ed-al-show-more-loading  span{display: none!important;}
div.photo-ed-al-show-more-loading  div.photo-wait{display: block!important;}
div.photo-ed-al-show-more span{border-width: 0!important; color: #567FDD;text-decoration: none; white-space: nowrap!important; font-family: Verdana; font-size: 13px !important; font-weight: bold !important; cursor: pointer; display: block;}
div.photo-wait{background: url("/bitrix/js/main/core/images/wait.gif") transparent no-repeat center center; width: 19px; height: 19px; display: none;margin-left: 45%;}
div.photo-al-ed-rotate{width: 16px; height: 16px; float: right; cursor: pointer; margin: 0 2px 0 0;}
div.photo-al-ed-rotate-l{background: url("/bitrix/components/bitrix/photogallery/templates/.default/images/arrow-l.png") transparent no-repeat center center;}
div.photo-al-ed-rotate-r{background: url("/bitrix/components/bitrix/photogallery/templates/.default/images/arrow-r.png") transparent no-repeat center center;}

div.photo-ed-al-items-list div.photo-ed-al-item-deleted{background: #ffffdf; width: 100%;}
div.photo-ed-al-items-list div.photo-ed-al-item-deleted .photo-ed-al-item-thumb, div.photo-ed-al-items-list div.photo-ed-al-item-deleted div.photo-ed-al-item-params{display: none!important;}
a.photo-al-ed-action-restore {display: none; margin-right: 30px;}
div.photo-ed-al-items-list div.photo-ed-al-item-deleted a.photo-al-ed-action-restore{display: block!important;}

.photo-rotate-90{-moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
.photo-rotate-180{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
.photo-rotate-270{-moz-transform:rotate(270deg);-webkit-transform:rotate(270deg);-o-transform:rotate(270deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.photo-rotate-ie9-90{-ms-transform:rotate(90deg);}
.photo-rotate-ie9-180{-ms-transform:rotate(180deg);}
.photo-rotate-ie9-270{-ms-transform:rotate(270deg);}

div.photo-ed-al-group-actions{text-align: right; padding: 5px 14px; float: right;}
.photo-ed-al-sel-all{color: #666666; cursor: pointer; font-family: Verdana; font-size: 11px !important; text-decoration: underline;}
.photo-ed-al-sel-all .photo-ed-al-desel{display: none;}
.photo-ed-al-desel-all .photo-ed-al-sel{display: none;}
.photo-ed-al-desel-all .photo-ed-al-desel{display: inline;}

.photo-ed-al-gract-del, .photo-ed-al-gract-move{color: #567FDD; cursor: pointer; font-family: Verdana; font-size: 11px !important; text-decoration: none; border-bottom: 1px dotted #567FDD; margin: 0 5px;}

.photo-ed-al-move-cnt {}
.photo-ed-al-move-popup{background: #FFFFFF; border: 1px solid #666666; overflow: auto; overflow-x: hidden; overflow-y: auto;}
.photo-ed-al-move-popup a{display: block; margin: 0; white-space: nowrap; padding: 3px 6px; text-decoration: none;}
.photo-ed-al-move-popup a:hover{background-color: #EBEBEB;}

/* Additional section (date and password fields)*/
div.photo-al-ed-add-set{float: left;width: 400px;}
div.photo-al-ed-add-set span.photo-al-ed-add-link{display: block;margin: 5px 0 4px;float: left;}
div.photo-al-ed-add-set div.photo-al-ed-add-cont{margin: 5px 0 4px; width: 98%; float: left;}
div.photo-al-ed-add-set span.photo-al-ed-add-link span{color: #666666; text-decoration: underline; cursor: pointer; font-family: Verdana; font-size: 12px !important; font-weight: normal !important; float: left;}
div.photo-al-ed-add-hidden span.photo-al-ed-add-link span.bxph-hiden, div.photo-al-ed-add-hidden div.photo-al-ed-add-cont{display: none!important;}
div.photo-al-ed-add-set span.photo-al-ed-add-link span.bxph-showed{display: none!important;}
div.photo-al-ed-add-hidden span.photo-al-ed-add-link span.bxph-showed{display: block!important;}
input.photo-al-ed-use-pass{display: block;float: left;height: 10px !important;line-height: 8px !important;margin: 8px 0 0;}
div.bxph-pass-cont {float: left; margin: 5px 0 0 0!important; height: 26px;}
div.bxph-pass-cont .bxph-colon, div.bxph-pass-cont input.bxph-pass-field{display: none;}
div.bxph-show-pass-cont .bxph-colon{display: inline!important;}
div.bxph-show-pass-cont input.bxph-pass-field{display: inline-block!important; margin: 2px 0 0 0!important;}




div.photo-window-edit table{width: 99%;}
div.photo-window-edit table thead{display: none;}
div.photo-edit-field-title input{width: 80%;}
div.photo-edit-field-description textarea {width: 100%;height: 10em;}

div.photo-edit-field {
	padding: 0.7em 0 0.3em 0.3em;}
div.photo-edit-field-title label,
div.photo-edit-field-tags label,
div.photo-edit-field-description label,
div.photo-edit-field-date label{
	display: block;
	margin-bottom: 0.2em;}
div.photo-edit-field-image{
	position: relative;
	float: left;
	padding: 0px;
	margin: 0px 5px 5px 0px !important;
	border: none;}
div.photo-edit-field-image input {position: absolute;z-index: 1000;top: 2px;left: 2px;}
div.photo-edit-field-image img {
	cursor: pointer;
	cursor: hand;}
/********************************************************************
				Album  styles/
********************************************************************/
/********************************************************************
				Photo styles
********************************************************************/
/************** Controls on list photo *****************************/
li.photo-control-photo-selectall span, li.photo-control-photo-drop span,
li.photo-control-photo-moderate span {
	padding-right: 1em;
	border-right: 1px solid;}
li.photo-control-photo-move select {
	width: 12em;
	margin-left: 0.5em;}
/************** Controls on detail photo ***************************/
div.photo-controls-photo ul {
	height: auto;}
div.photo-controls-photo li {
	float: none;}
/************** Photographies **************************************/
div.group-by-days {
	clear: both;
	padding-bottom: 1em;}
table.photo-photo-item {
	float:left;
	margin-right:1.5em;
	margin-bottom:1.5em;}
table.photo-photo-item td, table.photo-photo-item th{
	border:none;
	margin:0;
	padding:0;}
div.photo-photo-name{
	font-weight: bold;}
/* Photo .Default */
table.photo-photo-item-default td.photo-photo-info div.photo-photo-comments {
	line-height: 1em;
	height: 1.2em;
	overflow: hidden;
	font-size: 11px;
	padding-left: 3px;}
table.photo-photo-item-default div.photo-photo-item-inner{
	padding: 3px;
	vertical-align: top;}
/* Photo Table */
table.photo-photo-item-table{
	border: 1px solid;}
table.photo-photo-item-table th.photo-photo-image {
	padding: 1em 1em 0 1em;}
table.photo-photo-item-table div.photo-photo-name,
table.photo-photo-item-table div.photo-photo-rating,
table.photo-photo-item-table div.photo-photo-rating div,
table.photo-photo-item-table div.photo-photo-comments,
table.photo-photo-item-table div.photo-photo-shows {
	overflow: hidden;
	white-space: nowrap;
	line-height: 1em;
	height: 1.2em;}
table.photo-photo-item-table tfoot td.photo-photo-info {
	padding: 1em;
	vertical-align: top;}
table.photo-photo-item-table div.photo-photo-item-block-inner {
	border: 1px solid;}
table.photo-photo-item-table div.photo-photo-info{
	margin-top: 1em;}
/* Photo Ascetic */
div.photo-photo-item-ascetic{padding: 2px; float: left;margin: 0 4px 4px 0;}
a.photo-photo-item-ascetic-inner{
	overflow: hidden;
	display: block;}
/************** Popup div To Detail to around Slider ***************/
div.photo-photo-item-popup {
	cursor: pointer;
	cursor: hand;
	background-position: left top;
	background-repeat: no-repeat;
	zoom: 1;
	z-index: 1100;
	visibility: visible;
	display: block;
	width: 20px;
	height: 20px;}
div.photo-detail-img div.photo-photo-item-popup {
	display: none!important;}
/************** Photo navigation on detail page ********************/
div.photo-detail {
	margin-bottom: 1.5em;}
div.photo-photo-info div.vote-no-results {
	display: block;}
div.photo-detail-image {
	float: left;}
div.photo-photo-info div.photo-photo-date {
	padding-top: 0.38em;}
div.photo-photo-info div.photo-photo-description {
	margin-top: 1em;
	padding-top: 0.5em;}
div.photo-photo-tags {
	padding-top: 0.5em;}
div.photo-photo-rating {
	padding-top: 2em;}
div.photo-controls-photo {
	margin-top: 2em;}
div.photo-detail-image{
	padding-right: 1em;}
div.photo-photo-date, div.photo-photo-tags, div.photo-photo-tags a {
	font-size: 11px;}
div.photo-photo-info #photo_vote td.vote-result{
	width: 100px;
	overflow: hidden;}
/********************************************************************
				/ Photo styles
********************************************************************/
/********************************************************************
				Gallery
********************************************************************/
div.photo-gallery-name {
	white-space: nowrap;}
div.photo-gallery-avatar{
	display: none;}
/************** Ascetic Gallery ************************************/
ul.photo-galleries-list-ascetic,
ul.photo-galleries-list-ascetic li.photo-gallery-item{	margin: 0;padding: 0;	border: none;list-style-type: none;}
ul.photo-galleries-list-ascetic li.photo-gallery-item {	width: 30em;margin-right: 1em;	margin-bottom: 1em;float: left;height: 6.2em;overflow: hidden;}
ul.photo-galleries-list-ascetic  div.photo-gallery-description {line-height: 1.5em;height: 4.5em;}
/************** Default Gallery ************************************/
div.photo-gallery-item div.photo-control {
	float: left;
	line-height: 1.7em;
	height: 1.7em;
	padding-left: 0.7em;}
ul.photo-galleries-list li.photo-gallery-item {
	padding-bottom: 1em;}
div.photo-controls-gallery-edit {
	margin-top: 0.5em;}
/************** Galleries ******************************************/
li.photo-gallery-item td.photo-item-cover {
	display: none;}
div.photo-gallery-empty a{
	text-decoration: none;}
/************** Gallery Edit ***************************************/
div.photo-edit-fields-gallery i {
	display: block;
	font-size: 90%;
	width: 80%;
	color: gray;}
div.photo-edit-fields-gallery div.photo-edit-field-avatar {
	/*display: none;*/
}
div.photo-edit-fields-gallery div.photo-edit-field-code input {
	width: 50%;}
div.photo-edit-fields-gallery div.photo-edit-field-title input{
	width: 80%;}
div.photo-edit-fields-gallery div.photo-edit-field-description textarea {
	width: 80%;
	height: 10em;}
div.photo-edit-fields-gallery div.photo-edit-field {
	padding: 0.7em 0 0.5em 0.3em;}
div.photo-edit-fields-gallery div.photo-edit-field-code label,
div.photo-edit-fields-gallery div.photo-edit-field-title label,
div.photo-edit-fields-gallery div.photo-edit-field-avatar label,
div.photo-edit-fields-gallery div.photo-edit-field-description label{
	display: block;
	margin-bottom: 0.2em;}
/********************************************************************
				/ Gallery
********************************************************************/

/********************************************************************
				Pages
********************************************************************/
/************** Index Page *****************************************/
div.photo-page-main {position: relative;}
div.photo-page-main div.photo-controls-buttons, div.photo-page-main div#photo-links-on-main-page, div.photo-page-main div.photo-info-box-tags-cloud {margin-bottom: 2.8em;}
div.photo-page-main div#photo-main-page-right ul.photo-controls {height: auto;}
div.photo-page-main div#photo-main-page-right ul.photo-controls li{clear: both;}
div.photo-page-main #photo-main-page-right{position: absolute; top: 0; right: 5px; min-width: 15em; max-width: 25em;}
/************** Search Page ****************************************/
div.photo-page-search div.photo-info-box-tags-cloud{width: 20em;}
/************** Section Page ***************************************/
div.photo-page-section div.photo-info-box-photo-list {margin-bottom: 2.8em;}
/********************************************************************
				/Pages
********************************************************************/

/************** Index & Search Page ********************************/
/* Main Table on index page */
div.photo-page-main div.photo-header-component {/*float: left; */}
div.photo-page-main table.photo-table td.photo-td-left,div.photo-page-search table.photo-table td.photo-td-left {padding-right: 2em; width: 90%;}
div.photo-page-main table.photo-table td.photo-td-right div.photo-info-box-galleries, div.photo-page-search table.photo-table td.photo-td-right div.photo-info-box-tags-cloud{width: 25em;}
/* Buttons: Upload, Create, Edit, Moderate */
div.photo-page-main td.photo-td-right ul.photo-controls,
div.photo-page-main td.photo-td-right ul.photo-controls li{clear: both;overflow: visible;}
/* Buttons: Login is invisible by default */
div.photo-controls-authorize {display: none;}
/* Users galleries in 2 columns */
div.photo-controls-mainpage li.photo-gallery-item {width: 11.5em;overflow: hidden;margin: 0 0.5em 0 0;float: left;height: 2em; overflow: hidden;}
div.photo-controls-mainpage div.photo-gallery-name {font-weight: normal;	line-height: 2em;	height: 2em;}
div.photo-controls-mainpage div.photo-gallery-name a{font-weight: normal;line-height: 1.7em;height: 1.7em;}

/* Best Photo Block */
div.photo-photo-item-simple{padding-top: 0.3em;}
div.photo-photo-item-simple div.photo-photo-name {float: left;font-weight: normal;white-space: nowrap;overflow: hidden;display: none;}
div.photo-photo-item-simple div.photo-gallery-info {white-space: nowrap;overflow: hidden;}
div.photo-photo-item-simple div.photo-simple-gallery label {display: none;}
/* Information blocks right */
div.photo-page-main div.photo-controls-usermenu,div.photo-page-main div.photo-info-box-best-photo, div.photo-page-main div.photo-info-box-photo-list, div.photo-page-main div.photo-info-box-galleries {	margin-bottom: 2.5em;}
/************** Section Page ***************************************/
div.photo-page-section div.photo-info-box-photo-list {margin-bottom: 2.8em;}
/************** Page User Gallery **********************************/
div.photo-page-gallery {margin-top: 0.78em;padding-top: 2em;border-top-width: 1px;border-top-style: solid;}
/************** Progress bar ***************************************/
div.pbar-mark, div.pbar-mark-green {width:17px; height:17px; background-repeat:no-repeat; padding:0px;}
div.pbar-mark-green{background-image:url(/bitrix/themes/.default/images/pbar/kv_green.gif);}
div.pbar-outer{padding:1px; margin:0px; border:1px solid #8e99be; display:block; position:relative; top:0px; width:350px; height:13px; overflow:hidden; white-space:nowrap;}
div.pbar-inner, div.pbar-inner-red, div.pbar-inner-green, div.pbar-inner-yellow, div.pbar-inner-red-error, div.pbar-inner-green-error, div.pbar-inner-yellow-error{padding:0px; margin:0px; border:none; display:inline; height:13px; background-repeat:repeat-x;}
div.pbar-inner-green{background-image:url(/bitrix/themes/.default/images/pbar/bar_green.gif);}
div.pbar-inner-green-error{background-image:url(/bitrix/themes/.default/images/pbar/bar_green_err.gif);}
div.pbar-title-outer{padding:0px; margin:0px; display:block; position:relative; top:0px; border:none; width:350px;}
div.pbar-title-inner{padding:0px 10px; width:100%; text-align:center;}
div.photo-page-galleries-recalc div.photo-info-box {margin-bottom: 1em;}



/* End */

/* Start:/bitrix/templates/.default/ajax/ajax.min.css?1452813923420*/
iframe.waitwindowlocal{position:absolute;border:0;z-index:9999}div.waitwindowlocal{position:absolute;width:25px;height:25px;padding:0;z-index:10000;background-color:#fcf7d1;border:1px solid #e1b52d;background-image:url(/bitrix/templates/.default/ajax/images/wait.gif);background-position:center center;background-repeat:no-repeat}div.waitwindowlocalshadow{position:absolute;z-index:9998;background-image:url(/bitrix/templates/.default/ajax/images/shadow.gif);border:1px solid #808080}
/* End */

/* Start:/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/style.css?145281375936826*/
/* PHOTO SLIDER */
.photo-fixed-overlay{position: fixed; min-height:100%; min-width: 100%; top: 0px; left: 0px; z-index: 3000; overflow: auto!important; overflow-x: hidden!important;overflow-y: auto!important;}
.photo-body-overlay{overflow-x:hidden!important; overflow-y: hidden!important; overflow: hidden!important; position:relative;}

.photo-main-table {width:100%; position: absolute; top: 28px; left: 0px; z-index: 3000;}
.photo-main-table td {border:none; vertical-align:top; padding:0; }
.photo-wrap a,
.photo-wrap a:active,
.photo-wrap a:link,
.photo-wrap a:focus { outline:none; ie-dummy: expression(this.hideFocus=true);}
.photo-wrap img {border:none;}
.photo-wrap{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/border-shadow.png") repeat; font-family:Verdana,sans-serif; font-size:11px; margin:0 auto; padding:0 3px 3px 0;  position:relative;  z-index:1000; zoom:1;}
.photo-overlay {background-color:#000; opacity:0.3; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30); top:0; left:0; position:absolute; z-index: 2999; width: 100%;}
.photo-center { left:50%; float:left; position:relative;}
.photo-main{background:#fff; margin:0 0 0 -3px; min-width:735px; overflow:hidden; min-width:735px;  padding:0 12px 0; zoom:1;}

.photo-top { position:relative; zoom:1;}
.photo-top-nav{overflow:hidden;  padding:7px 0 5px 0;}
.photo-pager{color:#4c4c4c; line-height:10px; float:left; margin-right:12px;}
.photo-pager span{margin-right:4px;}
.photo-top-nav-buttons{margin:-3px 0 0 0; float:right; padding-left:13px;}

.photo-scroll{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") repeat-x left -28px; margin-top:3px; height:7px; overflow:hidden; position:relative; }
*+html .photo-scroll {margin-top:10px;}
.photo-scroll-wheel{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 0; cursor:pointer; height:7px; top:0; width:22px; position:absolute;}
.photo-scroll-wheel:hover{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -9px;}
.photo-scroll-wheel-active {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -20px !important;}

.photo-top-nav-buttons a{display:inline-block; cursor:pointer;  vertical-align:middle; text-decoration:none;}
.photo-slider-button{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat 0 -45px; color:#8c8c8c!important; font-size:10px; margin-right:5px; height:14px; line-height:12px; padding:0 0 0 5px;}
.photo-slider-button span {display:inline-block; vertical-align:top;}
.photo-slider-button i{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -84px -45px; display:inline-block; height:14px; width:5px;}
.photo-slider-button:hover{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -93px -45px;}
.photo-slider-button:hover i{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -175px -45px;}
.photo-slider-button-active {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -93px -45px;}
.photo-slider-button-active i {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -175px -45px;}
.photo-full-screen-but {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 5px -35px; height:19px; width:20px;}
.photo-full-screen-but:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 5px -50px !important;}
.photo-minimize-screen-but {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -9px -252px !important;}
.photo-minimize-screen-but:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -13px -175px !important;}
.photo-minimize-disabled, .photo-minimize-disabled:hover{filter: alpha(opacity=60)!important; -moz-opacity: 0.6!important; opacity: 0.6!important; cursor: default!important;}

.photo-close-but {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -11px -35px; margin-right:-5px; height:19px; width:20px;}
.photo-close-but:hover {background-position:-11px -50px;}

.photo-slider {background-color:#fff; display:none; text-align:center; white-space:nowrap; overflow:hidden; padding:5px 0; position:absolute; width:100%;}
.photo-slider a {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat 0 200px; display:inline-block; text-align:center; height:44px; padding-top:4px; width:48px;}
.photo-slider a:hover {background-position: 0 -62px;}
.photo-slider a img {border:none;}

.photo-image {border:none; height:480px; width:100%;cursor: pointer;}
.photo-image td {height:300px; vertical-align:middle; text-align:center; padding:0;}
.photo-image-loading{position: absolute; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0;}
.photo-image-wait{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/wait.gif") no-repeat center center #FFFFFF!important; width: 30px; height: 30px;}

.photo-footer {margin:0 auto; padding-bottom:18px; position:relative; width:735px; z-index:1;}

.photo-descriptions {border-bottom:1px solid #f0f0f0; min-height:41px; overflow:hidden; padding-top:9px; zoom:1; }
.photo-description-left {float:left; width:450px; }
.photo-description-right {float:right; text-align:right; }
.photo-rating {display:inline-block; margin: 1px 10px 0 0; vertical-align:top;}

+ html .photo-rating {margin: 3px 10px 0 0!important;}
.photo-rating-wait {width: 30px; text-align: left;}
.photo-rating-star {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -69px; display:inline-block; line-height:9px; margin-left:-2px; height:9px; vertical-align:middle; width:9px; cursor: pointer; font-size: 3px!important;}
.photo-rating-star-select {background-position:0 -257px !important;}
.photo-slideshow {display:inline-block; vertical-align:middle; position:relative;}
.photo-slideshow-button {cursor:pointer; display:inline-block; text-decoration:none !important; height:20px; outline:none; padding:0 0 0 7px;}
.photo-slideshow-button:hover {
	background:#ebebeb;
	border-radius: 3px;
}
.photo-dark-theme .photo-slideshow-button:hover {
	background: #444444;
	border-radius: 2px;
}
.photo-dark-theme .photo-slideshow-button:hover i {background:none;}
.photo-slideshow-button-img {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -8px -180px; display:inline-block; margin-top:5px; height:9px; width:6px;}
.photo-slideshow-button-active {background-position: 0 47px!important}
.photo-slideshow-button i {display:inline-block; margin-left:5px; vertical-align:top; height:20px; width:4px;}
.photo-slideshow-button:hover i {background:none;}
.photo-slideshow-active {height: 35px;}
.photo-slideshow-active .photo-slideshow-speed {display:block;}
.photo-slideshow-active .photo-slideshow-button-img {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat left -180px !important;}
.photo-slideshow-speed {display:none; left:4px; text-align:left; top:21px; position:absolute; white-space:nowrap;}
* + html .photo-slideshow-speed {width:110px;}
.photo-slideshow-speed a {color:#a4a4a4 !important; display:inline-block; height:12px; line-height:11px; margin-right:1px; text-decoration:none !important; text-align:center; vertical-align:middle;  width:14px; padding-bottom:2px;}
.photo-slideshow-speed a:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -80px;}
.photo-slideshow-speed span {color:#a4a4a4; display:inline-block; line-height:11px;}
.photo-slideshow-speed-active {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -80px;}
.photo-description-text {float:left; margin:0; padding-right:20px; position:relative;}
.photo-description-text a {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -151px; display:block; right:0; height:15px; text-decoration:none; position:absolute; top:0; width:15px;}
.photo-description-text a:hover {background-position:0 -117px;}

.photo-sign-wrap{padding-bottom:8px;}
.photo-sign-wrap .photo-textarea{min-height:62px;}

.photo-comments {display:none; overflow:hidden; padding-top:15px;}
.photo-comments-left {float:left; width:495px;}
.photo-footer a.photo-dark-theme-link, .photo-footer a.photo-qt-comments{cursor:pointer; color:#858585!important; text-decoration:underline; margin-top: 1px;}
.photo-more-comments, .photo-comments-add{display:inline-block; padding:0 0 15px 43px; color:#545454!important;}
.photo-comments-add:hover {color:#656565!important;}
.photo-more-comments:hover {color:#656565!important;}
.photo-comment {overflow:hidden; padding-bottom:15px;}
.photo-comment-avatar {float:left; height:30px; margin-right:12px; width:30px;border: 1px solid #C4C4C4; overflow: hidden;}
.photo-comment-avatar-none{background: url(/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/noavatar.gif) center center no-repeat!important;}
.photo-comment-avatar-none .photo-comment-avatar-inner {display: none;}
.photo-comment-avatar .photo-comment-avatar-inner {width: 30px; height: 30px; background-position: center center;background-repeat:no-repeat;}

.photo-comment-info-text { overflow:hidden;}
.photo-comment-hover .photo-comment-edit, .photo-comment-hover .photo-comment-remove, .photo-comment-hover .photo-comment-reply{display:block; top:0px;}
.photo-comment-info {line-height:15px; position:relative; padding-bottom:9px; zoom:1;}
.photo-comment-info .bx-ilike-right-wrap {line-height:11px !important;}
.photo-comment-name {color:#545454!important; margin-right:5px;}
.photo-comment-name:hover {color:#656565!important;}
.photo-comment-info  span { color:#999!important;}
.photo-comment-text {zoom:1;}
.photo-comment-edit {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -151px; display:none; height:15px; right:32px; position:absolute; width:15px;}
.photo-comment-edit:hover {background-position:0 -117px;}
.photo-comment-remove {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -164px; display:none; height:15px; right:16px; position:absolute; width:15px;}
.photo-comment-remove:hover {background-position:0 -134px;}
.photo-comment-reply {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -16px -442px; display:none; height:15px; right:0; position:absolute; width:15px;}
.photo-comment-reply:hover {background-position:0 -442px;}
.photo-textarea-wrap {display:none; padding-left:44px;}
.photo-textarea {background-color:#fff; color:#9d9d9d; font-family:Verdana,sans-serif; font-size:11px; border:1px solid #d9d9d9; min-height:80px; margin: 0; resize:none; outline:none; padding:5px 7px 7px; width:435px;}
.no-comments .photo-textarea-wrap {padding-left:7px !important;}
.no-comments .photo-textarea { width:479px;}
.photo-textarea-active {color:#000000 !important;}
.photo-comment-add{
	background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #fafafa 50%, #f7f7f7 51%, #f6f6f6 100%);
	background-image:   linear-gradient(to bottom, #fcfcfc 0%, #fafafa 50%, #f7f7f7 51%, #f6f6f6 100%);
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 0 1px #dfe2df;
	box-shadow: inset 0 0 0 1px #dfe2df;
	display:inline-block;
	color:#828282;
	line-height:11px;
	margin:8px 5px 0 0;
	text-decoration:none !important;
	padding:0 0 0 12px;
}
.photo-comment-add span {vertical-align:middle;}
.photo-comment-add i {background:none; display:inline-block; height:21px; vertical-align:middle; width:12px;}

.photo-comments-right {float:right; padding-right:20px; width:188px;}
.photo-comments-right div {clear:both;}
.photo-comments-right-info {border-bottom:1px solid #f0f0f0; margin-bottom:10px; padding-bottom:4px;}
.photo-comments-right-info-left {border-width:0!important;}
.photo-comments-right-info a {color:#000000!important; text-decoration:none;}
.photo-comments-right-info a:hover {text-decoration:underline;}
.photo-comments-right-grey {color:#858585;}
.photo-album, .photo-comments-author, .photo-comments-add_date {margin-left:8px; padding:0 0 10px 0;}
.photo-comments-add_date {color:#989898;}
.photo-comments-button {color:#545454!important; margin-bottom:4px; cursor:pointer; display:block; height:18px;  line-height:17px; text-decoration:none !important; overflow:hidden; padding:0 0 0 8px; width:100px;}
.photo-comments-button:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -10px -24px;}
.photo-comments-edit-wrap {position:relative;}
.photo-comment-undo {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -96px; cursor:pointer; display:block; height:19px; right:20px; top:0; position:absolute; width:19px;}
.photo-comment-undo:hover {background-position:0 -217px;}
.photo-comment-redo {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -237px; cursor:pointer; display:block; height:19px; right:0; top:0; position:absolute; width:19px;}
.photo-comment-redo:hover {background-position:0 -197px;}

.photo-open-footer {display:block; bottom:2px; left:50%; margin-left:-55px; text-decoration:none; text-align:center; height:14px; overflow:hidden; position:absolute; width:109px;}
.photo-open-footer:hover {background-color:#ebebeb;}
.photo-open-footer i {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -15px -65px; display:inline-block; height:14px; width:7px;}
.photo-open-footer-open i {background-position:-15px -75px!important;}

.photo-qt-comments {left:0; bottom:3px; position:absolute; text-decoration:none !important;}
.photo-qt-comments:hover {color:#656565; text-decoration:underline !important;}

.photo-close-wrap {position:relative; z-index:1500;}
.photo-close {height:120px; position:fixed; /*right:0; in Chrome button moves over the scrolling!*/ top:0; z-index:1100;}
.photo-close span{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -118px -210px; display:block; height:32px; top:15px; right:40px; position:absolute; width:62px;}
.photo-close:hover span{background-position:-52px -210px;}
.photo-prev-slide-wrap { width:30%}
.photo-prev-slide {display:block; top:0; width:100%; position:fixed;  z-index:1050;}
.photo-prev-slide span {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -152px -113px; cursor:pointer; display:block; left:15px; height:60px; position:absolute;  width:28px; top:340px; }
.photo-prev-slide:hover span {background-position:-113px -113px;}
.photo-main-block-wrap { width:40%}
.photo-next-slide-wrap { width:30%}
.photo-next-slide {display:block; text-align:right; top:0;  position:fixed;   z-index:1050;}
.photo-next-slide span {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat 0 -113px; cursor:pointer; display:block; height:60px; position:absolute; right:15px; width:28px; top:340px;  }
.photo-next-slide:hover span {background-position:-35px -113px;}

.photo-rating .bx-ilike-left-wrap  {  display: inline-block; height: 17px!important}
.photo-rating .bx-ilike-right-wrap  { display: inline-block; height: 17px!important}
.photo-rating .ilike-light { margin-top: 0px; display: inline-block}
.review-rating  .ilike-light { margin-left: 5px; display: inline-block}
.photo-rating .ilike-light .bx-ilike-right, .review-rating  .ilike-light .bx-ilike-right { padding: 0px 1px 0 11px; background-position:0 -42px; height: 16px;}
.photo-rating .ilike-light .bx-you-like .bx-ilike-right, .review-rating   .ilike-light .bx-you-like .bx-ilike-right { background-position:0 -22px; }
.photo-rating .ilike-light .bx-ilike-text, .review-rating  .ilike-light .bx-ilike-text  {	padding: 0; text-decoration: none; height: 15px}
.photo-rating .ilike-light .bx-ilike-text  { color: #7B7B7B !important; }
.review-rating  .ilike-light .bx-ilike-text  { color: #999999 !important; }
.photo-rating .ilike-light .bx-ilike-text:hover, .review-rating .ilike-light .bx-ilike-text:hover  {	text-decoration: underline; }
.photo-rating  .bx-rating span, .photo-rating  .bx-rating a, .review-rating .bx-rating a { color: #929292; }
.review-rating .bx-rating {margin-left: 5px;}
.photo-comment .photo-rating .ilike-light .bx-ilike-right, .photo-comment .review-rating .ilike-light .bx-ilike-right {background-position: 0 -44px;}

body, html{width: 100%; height: 100%;}
.photo-quirks-mode {position: absolute!important;}
.photo-quirks-mode .photo-wrap{width:760px !important;}
.photo-quirks-mode .photo-top-nav {zoom:1; margin-top:5px; padding-right:110px;}
.photo-quirks-mode .photo-top-nav-buttons {margin:-5px -110px 0 0;}
.photo-quirks-mode .photo-slider-button{height:15px;}
.photo-quirks-mode .photo-slider a {height:48px;}
.photo-quirks-mode .photo-descriptions {; padding-bottom:10px; }
/* .photo-quirks-mode .photo-footer {left:50%; margin-left:-377px; position:relative;} */
.photo-quirks-mode .photo-slideshow-speed a {height:13px;}
.photo-quirks-mode .photo-slideshow-speed a:hover {background-position:0 -79px; height:13px;}
.photo-quirks-mode .photo-slideshow-speed-active {background-position:0 -79px; height:13px;}
.photo-quirks-mode .photo-comments-button {width:108px;}
.photo-quirks-mode .photo-textarea {height:90px;}
.photo-quirks-mode .photo-prev-slide {position:absolute !important;}
.photo-quirks-mode .photo-next-slide {position:absolute !important;}
.photo-quirks-mode .photo-close-wrap {width:99%;}
.photo-quirks-mode .photo-sign-wrap {padding-bottom:0;}
.photo-quirks-mode .photo-sign-wrap .photo-textarea {height:60px;}
.photo-quirks-mode .photo-close {position:absolute;}
.photo-quirks-mode .photo-dark-theme-link i {font-size:0;}
.photo-quirks-mode .photo-dark-theme-link{width: 250px;}

/*==========================================================DARK-THEME=======================================================*/
.photo-dark-theme-link {display:block; height:15px; position:absolute; right:0; bottom:3px; min-width:90px; padding-right:10px;}
+ html .photo-dark-theme-link {width:90px;}
.photo-dark-theme-link-text, .photo-light-theme-link-text{display:none; color:#b3b3b3; float:right; margin: 1px 15px 0 0!important;}
.photo-dark-theme-link:hover .photo-dark-theme-link-text {display:block;}
.photo-dark-theme-link i{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -23px -197px; display:block; margin:6px 0 0; float:right; height:6px; width:6px;}
.photo-dark-theme-link:hover i{background-position:-23px -205px}

.photo-dark-theme .photo-main{background-color:#313131; color:#fff;}
.photo-dark-theme .photo-overlay {opacity: 0.4; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
.photo-dark-theme .photo-slider-button{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat 0 -175px; color:#838383;}
.photo-dark-theme .photo-slider-button i{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -84px -175px;}
.photo-dark-theme .photo-slider-button:hover{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -93px -175px; color:#b2b2b2;}
.photo-dark-theme .photo-slider-button:hover i{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -175px -175px;}
.photo-dark-theme .photo-slider-button-active {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -93px -175px; color:#b2b2b2;}
.photo-dark-theme .photo-slider-button-active i {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -175px -175px;}
.photo-dark-theme .photo-full-screen-but {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 5px -50px !important;}
.photo-dark-theme .photo-full-screen-but:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 5px -35px !important;}
.photo-dark-theme .photo-minimize-screen-but {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 5px -418px !important;}
.photo-dark-theme .photo-minimize-screen-but:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -13px -418px !important;}
.photo-dark-theme .photo-close-but:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -11px -35px; margin-right:-5px; height:19px; width:20px;}
.photo-dark-theme .photo-close-but {background-position:-11px -50px;}
.photo-dark-theme .photo-scroll {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") repeat-x left -308px;}
.photo-dark-theme .photo-scroll-wheel {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat scroll 0 -317px}
.photo-dark-theme .photo-scroll-wheel:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -335px;}
.photo-dark-theme .photo-scroll-wheel-active {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat scroll 0 -326px !important;}
.photo-dark-theme .photo-pager {color:#838383;}
.photo-dark-theme .photo-slider {background-color:#313131;}
.photo-dark-theme .photo-slider a:hover {background-position: 0 -191px;}
.photo-dark-theme .photo-slider a.photo-preview-selected {background-position: 0 -191px!important;}
.photo-dark-theme .photo-rating-star {background: url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -19px -101px;}
.photo-dark-theme .photo-rating-star-select {background: url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -19px -118px !important;}
.photo-dark-theme .photo-slideshow-button:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat -60px -86px;}
.photo-dark-theme .photo-slideshow-button:hover i {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat right -86px;}
.photo-dark-theme .photo-slideshow-button-text {color:#a2a2a2;}
.photo-dark-theme .photo-slideshow-speed-active,
.photo-dark-theme .photo-slideshow-speed a:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -17px -130px;}
.photo-dark-theme .photo-textarea {border-color:#898989; background-color:#464646;}
.photo-dark-theme .photo-textarea-active {color:#ffffff!important;}
.photo-dark-theme .photo-comments-right-grey {color:#989898;}
.photo-dark-theme .photo-comment-undo {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -15px -143px;}
.photo-dark-theme .photo-comment-undo:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -365px;}
.photo-dark-theme .photo-comment-redo {background-position: -15px -158px;}
.photo-dark-theme .photo-comment-redo:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -344px;}
.photo-dark-theme .photo-comment-edit {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -387px;}
.photo-dark-theme .photo-comment-edit:hover {background-position:-16px -387px;}
.photo-dark-theme .photo-comment-remove {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat 0 -403px;}
.photo-dark-theme .photo-comment-remove:hover {background-position:-16px -403px;}
.photo-dark-theme .photo-comment-reply {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-sprite.png") no-repeat -17px -460px;}
.photo-dark-theme .photo-comment-reply:hover {background-position: 0 -460px;}
.photo-dark-theme .photo-comment-add {
	background-image: -webkit-linear-gradient(top, #989a98 0%, #808080 49%, #727272 50%, #5b5b5b 100%);
	background-image:   linear-gradient(to bottom, #989a98 0%, #808080 49%, #727272 50%, #5b5b5b 100%);
	border-radius: 4px;
	-webkit-box-shadow: inset 0 -1px 0 #676967;
	box-shadow: inset 0 -1px 0 #676967;
	color:#dcdcdc;
}
.photo-dark-theme .photo-comment-add i {background:none;}

.photo-dark-theme .photo-descriptions {border-bottom:1px solid #3d3d3d;}
.photo-dark-theme .photo-open-footer:hover {background-color:#3d3d3d;}
.photo-dark-theme .photo-comments-right-info {border-bottom:1px solid #3d3d3d;}
.photo-dark-theme .photo-comment-name:hover,
.photo-dark-theme .photo-comments-add:hover,
.photo-dark-theme .photo-more-comments:hover,
.photo-dark-theme .photo-qt-comments:hover {color:#FFFFFF!important;}
.photo-dark-theme .photo-more-comments, .photo-dark-theme .photo-comments-add, .photo-dark-theme .photo-comment-name{color:#A6A6A6!important;}
.photo-dark-theme .photo-description-text a {background-position:0 -387px;}
.photo-dark-theme .photo-description-text a:hover {background-position:-16px -387px;}
.photo-dark-theme .photo-comments-button {background-position:-52px -191px!important;}
.photo-dark-theme .photo-comments-button{color:#ffffff!important;}
.photo-dark-theme .photo-qt-desc{color:#A2A2A2!important;}
.photo-dark-theme .photo-light-theme-link-text {/* display:none; */}
.photo-dark-theme .photo-dark-theme-link:hover .photo-dark-theme-link-text {display:block; color:#868686;}
.photo-dark-theme .photo-dark-theme-link i {background-position:-23px -215px;}
.photo-dark-theme .photo-dark-theme-link:hover i {background-position:-23px -226px;}



.photo-dark-theme .photo-comment-avatar {background: url(/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/noavatar-dark.gif) center center no-repeat!important;border: 1px solid #3D3D3D!important;}
.photo-dark-theme .photo-comments-right-info a {color:#ffffff!important; text-decoration:none;}
.photo-dark-theme .photo-slider a.photo-wait img{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/wait_dark.gif") no-repeat center center transparent!important;}
.photo-dark-theme .photo-wait-comments{display: block; position: absolute; right: 0; top: -5px; background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/wait_dark.gif") no-repeat center center transparent!important; width: 29px; height: 29px;}

.photo-dark-theme .reviews-reply-fields input, .photo-dark-theme input.photo-forum-capcha-input{border-color:#898989!important; background-color:#464646!important;}
.photo-dark-theme  .photo-comments-left .reviews-reply-fields input.bxph-photo-active , .photo-dark-theme  .photo-forum-capcha-cont input.bxph-photo-active{color:#ffffff !important;}
.photo-dark-theme  .photo-image-wait{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/wait_dark.gif") no-repeat center center transparent!important;}



.photo-qt-desc {color:#656565!important; text-decoration:none !important;}
.photo-qt-desc:hover {text-decoration:underline !important;}
.photo-slider a img {border:none; background-position: center center; background-repeat: no-repeat; background-color: transparent;}
.photo-slider {height: 45px;}
* html .photo-slider{height: 55px!important;}
.photo-slider-int{text-align:center; white-space:nowrap; position:absolute; top: 0px; left: -1px;}
.photo-forum-capcha-cont{width: 400px; margin-top: 10px; height: 45px;}
.photo-forum-capcha-cont .photo-forum-capcha-img{display: inline-block; margin: 2px; float: left;}
.photo-forum-capcha-cont .photo-forum-capcha-label{display: inline-block; margin: 2px 6px; float: left; color: #858585;}
.photo-forum-capcha-cont .photo-forum-capcha-input{display: inline-block; margin: 4px 6px 0 6px!important; float: left; width: 10em; border: 1px solid #858585;}

.photo-comments-left {position: relative;}
.photo-wait-comments{display: block; position: absolute; right: 0; top: -5px; background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/wait.gif") no-repeat center center transparent!important; width: 29px; height: 29px;}
.photo-show-more{text-align: center;}
.photo-show-more a{display: inline-block; margin: 7px 0 6px 0; text-decoration: none!important;}
.photo-show-more img.show-more-wait{display: none;}
.photo-show-more-wait a{display: none!important;}
.photo-show-more-wait img.show-more-wait{display: inline-block!important;}
.photo-item-cont-drag{position: absolute!important;}
.photo-new-empty-place{float: left;}
.photo-slider a.photo-preview-selected {background-position: 0 -62px!important;}
.photo-slider a.photo-wait img{background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/wait.gif") no-repeat center center transparent!important;}
.photo-slider .photo-preview .photo-preview-inner {display:inline-block; overflow: hidden;}
.photo-slider .photo-preview .photo-preview-inner img{}
.photo-slider a.photo-wait:hover{background: none!important;}
.photo-comments-warning{color: #858585;}

.photo-comments .reviews-note-error{color: #EE0000!important;}

.photo-rotate-90{-moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
.photo-rotate-180{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
.photo-rotate-270{-moz-transform:rotate(270deg);-webkit-transform:rotate(270deg);-o-transform:rotate(270deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.photo-rotate-ie9-90{-ms-transform:rotate(90deg);}
.photo-rotate-ie9-180{-ms-transform:rotate(180deg);}
.photo-rotate-ie9-270{-ms-transform:rotate(270deg);}

.bxph-preload-cont {width: 100px; height: 300px; position: absolute; top: -1000px; left: -1000px; overflow: hidden;}
.bxph-preload-cont img{width: 50px; height: 50px;}

/* PHOTO LIST*/
.photo-items-list .photo-item-cont{float: left; margin: 0 4px 4px 0;padding: 2px;}
.photo-item-cont .photo-item-inner{display: block; overflow:hidden; position: relative;}
.photo-item-cont .photo-item-inner img{position: absolute; border: none;top:0;left:0;}

.photo-items-list .bxph-warn-icon{position: absolute; top: 50%; left: 50%; margin-top: -15px; margin-left: -15px;}

.photo-top-warning {position: absolute; top: 45%; left: 50%; color: #fff; font-family: Verdana; font-size: 1em; padding: 15px 15px 15px 45px; margin-left: -120px; font-weight: bold; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; display: none;}
.photo-top-not-active {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/not-approved.png") no-repeat 8px center #5b5b5b; display: block!important;}

.photo-top-warning span{}
.photo-top-not-warn-link {color:#FFFFFF!important; margin-top:5px; margin-left: 50px; cursor:pointer; display:block; height:18px;  line-height:17px; text-decoration:underline!important; overflow:hidden; padding:0 0 0 8px; width:100px;}
.photo-top-not-warn-link:hover {background:url("/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/photo-gall-but.png") no-repeat 0 -24px; color:#000000!important;}

.bxph-warn-link {color:#FFFFFF!important; margin-top:0px; margin-left: 0px; cursor:pointer;text-decoration:underline!important; overflow:hidden; position: absolute; left: 0px; color:#ffffff!important; text-align: center; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; background:#5b5b5b; padding: 5px 0!important; font-weight: bold; display: none;}
.photo-item-inner:hover .bxph-warn-link{display: block!important;}

.photo-comments-left .reviews-reply-fields .reviews-reply-field {margin-bottom: 8px;}
.photo-comments-left .reviews-reply-fields input, .photo-forum-capcha-cont input.photo-forum-capcha-input {background-color: #FFFFFF;border: 1px solid #D9D9D9;color: #9D9D9D;font-family:Verdana,sans-serif;font-size: 11px;margin: 0;outline: medium none;padding: 2px 4px 2px 4px;width: 200px;}
.photo-comments-left .reviews-reply-fields input.bxph-photo-active , .photo-forum-capcha-cont input.bxph-photo-active{color:#000 !important;}

/* Blog */
/*comment*/
.photo-comments .blog-comment-cont-white {margin: 0 0 15px 0; position:relative;}
.photo-comments .blog-comment {/*margin: 0; position:relative; */}
.photo-comments .blog-comment-cont{}
.photo-comments .blog-comment-info {display:block;}
.photo-comments .blog-comment-content {display:block; overflow: hidden; padding-top: 0.5em;}
.photo-comments .blog-comment-meta {font-size:0.85em; padding-top: 0.5em; padding-bottom: 0.5em;}
.photo-comments .blog-comment-date {font-size:0.85em; display:inline;}
.photo-comments .blog-comment-author-info {display:inline;}
.photo-comments .blog-comment-avatar {float:left; margin-right: 0.5em; width: 30px; height: 30px; border:1px solid #c4c4c4; background-color: #eceaec;}
.photo-comments .blog-comment-avatar img{}
.photo-comments .blog-comment-meta a { text-decoration: none !important;}
.photo-comments .blog-comment-meta a:hover {text-decoration: underline !important;}
.photo-comments .blog-comment-link,.photo-comments  .blog-comment-delete,.photo-comments  .blog-comment-answer,.photo-comments  .blog-comment-edit {display:inline-block;}
.photo-comments .blog-add-comment {text-align:center; padding-top: 0em; padding-bottom: 1.5em;}
.photo-comments .blog-comment-nav {padding-bottom: 0.6em; padding-left: 0.7em;}

/*comment-form*/
.photo-comments div.blog-comment-form {margin-bottom:0.7em; margin-top:0.7em;}
.photo-comments div.blog-comment-field-text  {width: 100%;}
.photo-comments div.blog-comment-field-text textarea { width: 99.9%; }
.photo-comments div.blog-comment-field-tags { display: none; }
.photo-comments div.blog-comment-field-captcha input { width: 180px;}
.photo-comments div.blog-comment-field-settings input { width:1.55em; height:1.55em; margin:0 0 0 -0.25em; vertical-align: middle; font-size:1em;}
.photo-comments div.blog-comment-field-settings label { vertical-align: middle; }
.photo-comments div.blog-comment-fields {padding:0.8em; background-color: transparent !important;}
.photo-comments div.blog-comment-field-user {width: 100%; padding-bottom: 5px; }
.photo-comments div.blog-comment-field-author, div.blog-comment-field-email { float:left; width:47%;}
.photo-comments div.blog-comment-field-text {padding-bottom: 0.2em;}
.photo-comments div.blog-comment-field-user-sep { width:5%; float: left; }
.photo-comments div.blog-comment-field-author input, div.blog-comment-field-email input { width:100%; }
.photo-comments div.blog-comment-field-bbcode {padding-top: 0.7em;}
.photo-comments div.blog-comment-field-captcha-image{padding-top: 0.4em;}
.photo-comments div.blog-comment-buttons { margin-top: 1em; padding-bottom: 0.4em;}
.photo-comments div.blog-comment-buttons input { padding:0 0.5em; font-size:1.184em;}

/* LHE mods*/
.photo-comments .lhe-line-begin,.photo-comments  .lhe-line-end{display: none!important;}
.photo-comments .bxlhe-editor-buttons,.photo-comments  table.bxlhe-frame-table td.bxlhe-editor-buttons{background-color: transparent!important;}
.photo-comments .lhe-button-cont{background-image: none!important;height:20px!important; width:20px!important;}
.photo-comments .bxlhe-editor-buttons{height: 21px!important;}
.photo-comments .lhe-stat-toolbar-cont{margin-bottom: -2px!important;}
.photo-comments .blog-author{float: left;}
.photo-comments .blog-comment-date{float: left;}
.photo-comments div.blog-clear-float {clear: both;}

div.blog-line {background-repeat: no-repeat; height:3px; width:100%;}
.blog-author {margin:0; padding:0; display:inline; font-weight: bold;}
.blog-author-icon {width:16px; height:16px; display:block; float:left; background-repeat: no-repeat; padding-right:0.2em; line-height: 1em;}
.blog-post-date, .blog-comment-date {color: #767676;}
div.blog-comment-new .photo-info-date {background-color: #F0F0F0; padding: 3px 6px;}

.photo-comments .bxlhe-frame{border-width: 0!important; /*border-bottom: 1px solid #D9D9D9!important;*/}
.photo-comments .bxlhe-frame-table{border: 1px solid #ffffff!important;}
.photo-comments td.bxlhe-editor-cell{border: 1px solid #D9D9D9!important;}

.photo-comments table.blogquote,.photo-comments  table.blogcode { font-size:1em; margin:0.5em 1em; width:80%; border:1px solid;}
.photo-comments  table.blogquote td,.photo-comments  table.blogcode td { padding:0.95em 1.5em; }
.photo-comments  table.blogcode td {font-family:"Courier New"; white-space:pre-wrap;}
.photo-comments  table.blogcode pre {font-family:"Courier New"; font-size: 12px; margin: 0; line-height: 15px; white-space:pre-wrap;}
.photo-comments div.blog-post-quote table.blogquote {border-color: #E8E8E8; color: #555; background: url(/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/quote-gray.png) no-repeat scroll left top #f7f7f7;}

/* Buttons for LHE*/
.photo-comments #lhe_btn_bold, .photo-comments #lhe_btn_italic, .photo-comments #lhe_btn_underline, .photo-comments #lhe_btn_strike, .photo-comments #lhe_btn_quote{background-image: url(/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/mini-sprite.png)!important;}
.photo-comments #lhe_btn_bold{background-position: -22px -24px!important}
.photo-comments #lhe_btn_italic{background-position: -45px -24px!important}
.photo-comments #lhe_btn_underline{background-position: -67px -24px!important}
.photo-comments #lhe_btn_strike{background-position: -85px -24px!important}
.photo-comments #lhe_btn_quote{background-position: -107px -24px!important}
.lhe-button-over {background-color:#e5e5e5!important;}

/* Dark theme for blog's comments */
.photo-dark-theme .photo-comments .bxlhe-frame-table{border: 1px solid #313131!important;}
.photo-dark-theme .photo-comments div.bxlhe-frame{background: #313131!important; border-bottom: none!important;}
.photo-dark-theme .photo-comments td.bxlhe-editor-cell{border: 1px solid #898989!important;}
.photo-dark-theme .photo-comments div.blog-post-quote table.blogquote {border-color: #898989!important; color: #BBBBBB!important; background: url(/bitrix/components/bitrix/photogallery.detail.list.ex/templates/.default/images/quote-gray-dark.png) no-repeat scroll left top #464646!important;}
.photo-dark-theme .photo-comments .bxlhe-frame-table .bxlhe-editor-cell{background-color: #464646!important;}

.photo-dark-theme .photo-comments #lhe_btn_bold{background-position: -22px -55px!important}
.photo-dark-theme .photo-comments #lhe_btn_italic{background-position: -45px -55px!important}
.photo-dark-theme .photo-comments #lhe_btn_underline{background-position: -67px -55px!important}
.photo-dark-theme .photo-comments #lhe_btn_strike{background-position: -85px -55px!important}
.photo-dark-theme .photo-comments #lhe_btn_quote{background-position: -107px -55px!important}
.photo-dark-theme .lhe-button-over {background-color:#505050!important;}
.photo-dark-theme div.blog-comment-new .photo-info-date {background-color: #222222!important;}
.photo-dark-theme .lhe-stat-toolbar-cont {border-style: none!important;}
.photo-dark-theme .blog-comment-field-user input, .photo-dark-theme  .blog-comment-field-captcha-label input{background-color: #464646!important; border: 1px solid #898989!important; border-radius: 2px; color: #FFFFFF!important;}
.photo-dark-theme .blog-comment-field-user label, .photo-dark-theme  .blog-comment-field-captcha-label label{color: #c2c2c2!important;}

.photo-comments .errortext, .photo-comments .notetext
{
	background: transparent !important;
	border-width: 0 !important;
}
/* End */
