html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
    margin: 30px 0;
}

.top_header {
    display: table;
    width: 100%;
    text-align: center;
    height: 30px;
}

.select_region {
    color: white;
    display: table-cell;
}

.weather {
    color: white;
    display: table-cell;
}

.profile {
    color: white;
    display: table-cell;
}

.active {
    background: #E25050;
}

.container {
    margin-bottom: 10px;
}

.slider {
    text-align: center;
    max-width: 800px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

.slide {
    cursor: pointer;
    position: relative;
}

.slide img {
    margin: auto;
}
.slide a {
    text-decoration: none;
}
.description {
    background: white;
    position: absolute;
    color: black;
    bottom: 20px;
    width: 80%;
    opacity: .7;
    left: 80px;
}
.profile_header a {
    color: white;
    text-decoration: none;
}
.auth_top {
    color: white;
}
/* вкладочки */
#tab2, #tab3, #tab4 {position: fixed; }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 > div { padding: 5px; border: 1px solid #aaa; }

.menu1 > a { line-height: 28px; background: #fff; text-decoration: none; }

#tab2,
#tab3,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3) { border-bottom: 2px solid #fff; }

.all_state_news .news_item {
    vertical-align: top;
}
.all_news {
    text-align: center;
}
.all_news .state_news_detail_text {
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
}
.all_state_news {
    text-align: center;
}
.all_state_news .news_item {
    margin-right: 15px;
}
.yandex-filtrable-map {
    width: 700px;
    height: 600px;
    margin: 0 auto;
}
.events {
    text-align: center;
}
.events .news_item {
    margin-right: 15px;
}
.equipment {
    text-align: center;
}
.equipment .news_item {
    margin-right: 15px;
}
.news-list .news_item {
    vertical-align: top;
}
.type_test {
    margin: 0 auto;
    max-width: 900px;
    text-align: justify;
}
.type_test_title {
    text-align: center;
}
.all_state_news {
    margin: 0 auto;
    max-width: 900px;
    text-align: justify;
}
.all_state_news_detail_picture {
    text-align: center;
}
.description > a {
    max-width: 550px;
    display: block;
    margin: 0 auto;
}
.equipment {
    margin: 0 auto;
    max-width: 900px;
    text-align: justify;
}
.events .news_item {
    vertical-align: top;
}
.equipment .news_item {
    vertical-align: top;
}
.equipment_detail_picture {
    text-align: center;
}